.features-section {
  padding: 100px 80px;
  text-align: center;
}

.features-image-container {
  display: flex;
  justify-content: center;
}

.features-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .features-section {
    padding: 20px;
  }

  .features-img {
    width: 100%;
    height: auto;
  }

  .features-section h2 {
    font-size: 24px;
  }
}
