body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(45deg, #1c1c1c, #121212);
  color: white;
  
}

* {
  box-sizing: border-box;  
}
body, h1, h2, h3, p, section {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    background: linear-gradient(45deg, #1c1c1c, #121212);
    color: white;
  }
}
