body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(45deg, #1c1c1c, #121212);  
  color: white; 
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;  
}
body, h1, h2, h3, p, section {
  margin: 0;
  padding: 0;
}

